.title_box {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 700px;
}

.bg_overlay {
  background-image: url('../../../assets/coffee.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.text_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
  font-size: clamp(20px, 4vw, 28px);
}

.special_container {
  display: flex;
  gap: 3rem;
}

.special_container > ul > li { 
  list-style: none;
}

.special_container > ul > p {
  font-size: clamp(32px, 4vw, 48px);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text-container {
  text-align: center;
  padding: var(--text-padding);
}

.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 2;
}

.parallax {
  /* The image used */
  background-image: url("http://localhost:3002/images/bg_4.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
  background-blend-mode: overlay;

  /* Full height */
  height: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 800px) {
  .special_container {
    flex-direction: column;
  }
}